@font-face {
	font-family: "Moanhand";
	src: url(../MOANHAND.ttf);
}

body {
	font-family: helvetica, sans-serif;
	background-color: #f3e9f1;
}

header {
	background-color: #f3e9f1;
}

footer {
	background: linear-gradient(to left, #d28040, #965fea);
}

.mail {
	color: #000;
}

ul {
	list-style: none;
}

h1 {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #965fea;
	font-weight: bolder;
	font-family: "Moanhand";
}

h2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-weight: bold;
	border-top: double 5px #000;
	text-transform: uppercase;
	padding-top: 0.5rem;
	font-family: "Moanhand";
}

a.retour_accueil {
	font-size: 25px;
	background: linear-gradient(to left, #965fea, #d28040);
	color: #000;
}

button {
	background: linear-gradient(to left, #965fea, #d28040);
	border-radius: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

button:hover {
	background: #965fea;
}

p {
	font-size: 1.5rem;
	border-top: dotted 2px #d28040;
}

p.validate {
	text-transform: uppercase;
	font-weight: bold;
}

img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	padding-bottom: 0.5rem;
}

a.mail {
	font-style: italic;
}

div.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

select {
	margin: 0.5rem;
}

p.back_index {
	font-size: 0.8rem;
	border: none;
	padding-top: 1rem;
	color: #000;
}
