@font-face {
	font-family: "Moanhand";
	src: url(/MOANHAND.ttf);
}

body {
	font-family: helvetica, sans-serif;
	background-color: #f3e9f1;
	width: 100%;
}

header {
	background-color: #f3e9f1;
	height: 25%;
}

footer {
	background: linear-gradient(to left, #d28040, #965fea);
}

.mail {
	color: #000;
}

ul {
	list-style: none;
}

h1 {
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: bolder;
	font-family: "Moanhand";
}

h2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
	border-top: double 5px #000;
	text-transform: uppercase;
	padding-top: 0.5rem;
	font-family: "Moanhand";
}

h3 {
	font-style: italic;
	font-size: 1rem;
}

a.retour_accueil {
	font-size: 25px;
	background: linear-gradient(to left, #965fea, #d28040);
	color: #000;
}

button {
	background: linear-gradient(to left, #965fea, #d28040);
	border: solid 2px #000;
	border-radius: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

button:hover {
	background: #965fea;
}

p {
	font-size: 1.5rem;
	border-top: dotted 2px #d28040;
}

p.price_product {
	font-size: 2.5rem;
}

p.validate {
	text-transform: uppercase;
	font-weight: bold;
}

img {
	width: 25%;
	height: 50%;
	object-fit: cover;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	padding-bottom: 1rem;
	border-radius: 0 0 2.5rem 0;
}

img.orinoco {
	width: 50%;
	height: 50%;
	object-fit: cover;
	padding: 0;
	text-align: center;
	margin: auto;
	display: flex;
}

img.only_bear {
	border: solid 5px #000;
	padding: 0;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	margin-bottom: 1rem;
}

img.cartPicture {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border: solid 0.2rem #000;
	padding: 0;
}

a.mail {
	font-style: italic;
}

div.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

select {
	margin: 0.5rem;
}

p.back_index {
	font-size: 0.8rem;
	border: none;
	padding-top: 1rem;
	color: #000;
}

td {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}
